/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(#0000003a, #0000003a), url(./assets/fondo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
